@charset "utf-8";
/* CSS Document */


body {

	/*background-image: linear-gradient(#F5F6F6, #CDD5D5);
	background-attachment: fixed; */
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	text-align: center;
	color: #012001;
}
/*
body, html {
    height: 95%;
}
*/
/* The hero image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hero-image.jpg");
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.navbar {
	background-color: rgba(255,117,34,0.60);
	position: sticky;
	top: 0;
	z-index: 3;
	margin-bottom: 0;
}

#navlogo {
	margin-top: -7px;
}

a {
	color: #003300;
	font-weight: bold;
}

a:hover {
	color: #B44400;
	text-decoration: underline;
}

nav a {
	border-radius: 60px;
	font-family: "Montserrat", sans-serif;
	font-size: 1.1em;
}

nav a:hover, .nav>li>a:hover {
	background-color: #F2FAE1;
}

.navbar-toggle .icon-bar {
    background-color: #003300;
}

button.navbar-toggle {
	border-radius: 60px;
}

button.navbar-toggle:hover {
	background-color:#F2FAE1
}

.odd-div {
	padding: 20px 0;
	background: #F4F5F5;
}

.odd-div:first-of-type {
	padding-top: 40px;
}

.even-div {
	padding: 20px 0;
	background: #CFD0D1;
}

.even-div:last-of-type {
	padding-bottom: 40px;
}

#tagline {
	font-size: 1.3em;
	width: 50%;
	margin: 0px auto;
}

#tag1 {
	text-align: left;
}

#tag2 {
	text-align: right;
}

#tagline blockquote,pre{border:0px}

blockquote {
	position: relative;
	font-family: "Montserrat", sans-serif;
	font-size: 2em;
	font-style: italic;
	font-weight: bold;
	margin-bottom: -5px;
}

blockquote:before {
  content: '\201C';
  position: absolute;
  top: -0.3em;
  left: -0.1em;
  color: rgba(255,117,34,0.20);
  font-size: 6em;
  z-index: 0;
}

blockquote:after {
  content: '\201D';
  position: absolute;
  top: -0.3em;
  right: 0.2em;
  color: rgba(255,117,34,0.20);
  font-size: 6em;
  z-index: 0;
}

hr.rounded {
	border-top: 8px solid #bbb;
	border-radius: 5px;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
}

.fa:hover {
	text-decoration: none;
}

label {
    width: 130px;
    text-align: right;
    margin-right: 20px;
}

.field {
    width: 400px;
    padding: 5px 2px;
    border: 1px solid #979797;
    border-radius: 5px;
}

#msglabel {
	vertical-align: top;
	margin-top: 6px;
}

.field:focus {
        border: 2px solid #669900;
    }
/*
#submit {
	color: #eef0f0;
	font-weight: bold;
	background-color: #4b7000;
}
#reset {
	color: #F2F3F3;
	background-color: #485151;
}
*/
ul {
	list-style-type: none;
	padding: 0;
}

@media (min-width: 1200px){
	#connect p {
		text-align: left;
	}
}

@media only screen and (max-width: 767px){
  #tagline {
	width: 90%;
  }
  picture img {
	width: 100%;
  }
  .hero-image {
	height: 100vh;
  }
  .hero-text picture img {
	padding:40px;
  }
}
