@charset "utf-8";
/* CSS Document */


body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	text-align: center;
	color: #012001;
}

/* The hero image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("https://github.com/Desiarmstrong/Capstone-Webpages/blob/master/hero-image-2.jpg?raw=true");
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

a {
	color: #003300;
	font-weight: bold;
}

a:hover {
	color: #B44400;
	text-decoration: underline;
}

/*navbar styles*/

.navbar {
	background-color: rgba(255,117,34,0.60);
	position: sticky;
	top: 0;
	z-index: 3;
	margin-bottom: 0;
	border-radius: 0;
}

#navlogo {
	margin-top: -7px;
}

nav a {
	border-radius: 60px;
	font-family: "Montserrat", sans-serif;
	font-size: 1.1em;
}

.active {
	font-size: 1.1em;
}

.active a {
	background-color: hsla(79,71%,93%,0.40);
}

nav a:hover, .nav>li>a:hover {
	background-color: #F2FAE1;
}

.navbar-toggle .icon-bar {
    background-color: #003300;
}

button.navbar-toggle {
	border-radius: 60px;
}

button.navbar-toggle:hover {
	background-color:#F2FAE1
}

.parallax {
  background-image: url("home-image-mobile.jpg");
  min-height: 600px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80vw;
  margin: 0 auto;
}

.bubble blockquote {
	margin: 10px 150px 0;
	background: #fff;
	padding: 60px;
	position: relative;
	border: none;
	border-radius: 8px;
	font-size: 1.25em;
	color: #016501;
	min-height: 268px;
}
.bubble div {
	width: 0;
	height: 0;
	border-right: 0 solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
	margin: 0 0 0 250px;
	margin-bottom: 10px;
}
.bubble cite {
	font-size: 1.25em;
	color:rgba(180,68,0,0.74);
	float: left;
	margin-left: 148px;
}

.carousel-control {
	background-image: none !important;
}



/*styles for grey-and-white sections of page*/

.odd-div {
	padding: 50px 0;
	background: #FCFCFC;
}

.odd-div:first-of-type {
	padding-top: 100px;
}

.even-div {
	padding: 50px 0;
	background: #CFD0D1;
}

.even-div:last-of-type {
	padding-bottom: 100px;
}

img {
	border-radius: 5px;
}

#tag1 {
	text-align: left;
}

#tag2 {
	text-align: right;
}

blockquote,pre{border:0px}

blockquote {
	position: relative;
	font-family: "Montserrat", sans-serif;
	font-style: italic;
	font-weight: bold;
}

#tagline {
	padding: 40px 0 40px;
	width: 750px;
	font-size: 1.3em;
	margin: 0px auto;
}

#tagline blockquote {
	font-size: 1.8em;
	margin-bottom: 10px;
}

#tagline blockquote:before{
	  top: -0.3em;
}

blockquote:before {
  content: '\201C';
  position: absolute;
  top: -0.2em;
  left: -0.1em;
  color: rgba(255,117,34,0.20);
  font-size: 6em;
  z-index: 0;
}

blockquote:after {
  content: '\201D';
  position: absolute;
  top: -0.2em;
  right: 0.2em;
  color: rgba(255,117,34,0.20);
  font-size: 6em;
  z-index: 0;
}

#titlelogo{
	margin: 0 auto;
}

#hometext {
	font-family: "Montserrat", sans-serif;
	margin: 10vh auto;
	color: white;
	width: 50%;
	text-shadow: -1px 1px 0 #012001,
				  1px 1px 0 #012001,
				 1px -1px 0 #012001,
				-1px -1px 0 #012001;
}

.pagetext {
	margin: 0 100px;
}


footer {
	background-color: #012001;
	color: #eef0f0;
	padding: 35px;
}

footer a {
	color: #FFE3C7;
	font-weight: normal;
}

footer a:hover {
	color: #FF8A14;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
}

.fa:hover {
	text-decoration: none;
}

label {
    width: 130px;
    text-align: right;
    margin-right: 20px;
}

.field {
    width: 400px;
    padding: 5px 2px;
    border: 1px solid #979797;
    border-radius: 5px;
}

#msglabel {
	vertical-align: top;
	margin-top: 6px;
}

.field:focus {
        border: 2px solid #669900;
    }
/*
#submit {
	color: #eef0f0;
	font-weight: bold;
	background-color: #4b7000;
}
#reset {
	color: #F2F3F3;
	background-color: #485151;
}
*/
ul {
	list-style-type: none;
	padding: 0;
}

@media (min-width: 1800px) {
	.pagetext {
		margin: 0 350px;
	}
	.left-image {
		float: left;
		margin-left: 100px;
		padding-right: 150px;
	}
	.right-image {
		float: right;
		margin-right: 100px;
		padding-left: 150px;
	}
}

@media (min-width: 1200px){
	#connect p {
		text-align: left;
	}
	.left-image {
		float: left;
		padding-left: 50px;
		margin-right: 80px;
	}
	
	.right-image {
		float: right;
		padding-right: 50px;
		margin-left: 80px;
	}

	.pagetext {
		height: 500px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

@media (min-width: 992px){
	.parallax {
		border-radius: 5px;
	}
	
}

@media (min-width: 767px) {
	.left-image, .right-image {
		height: 500px;
	}
}

@media only screen and (max-width: 766px){
	#tagline {
		width: 90%;
	}
	picture img {
		width: 100%;
	}
	.hero-image {
		height: 100vh;
	}
	.hero-text picture img {
		padding:40px;
	}
	#hometext {
		width: 90%;
	}
	.left-image, .right-image {
		width: 100%;
		margin: 0;
	}
	.parallax {
		width: 100%;
	}
	img {
		border-radius: 0;
	}
	.even-div, .odd-div {
		padding: 0;
	}
	#tagline {
		padding-top: 80px;
	}
	.bubble {
		margin: 50px auto;
	}
	.bubble blockquote {
		font-size: 1.05em;
		width: 90%;
		margin: 0 auto;
		height: 360px;
	}
	.bubble cite {
		font-size: 1.1em;
		margin: 25px 0 40px 40px;
	}
	.bubble div {
		margin: 0 0 0 100px;
	}
	.carousel-indicators {
		bottom: 65px;
	}
	.pagetext {
		margin: 80px;
	}
}

@media  (max-width: 450px){
	.bubble blockquote {
		font-size: .9em;
		padding: 40px 30px;
		height: 350px;
	}
	.bubble cite {
		font-size: .95em;
		margin: 0;
	}
}
